@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");

.App {
  text-align: center;
  height: 100%;
}
html, body{
  height: 100%;
  margin: 0;
}
.banner1{
  width: 100%;
}
.transition-container{
  position: relative;
  width: 100%;
  height: 100%;
}
.transitionpage{
  background-color: #A5CDB5;
  width: 100%;
  height: 100%;
}
.transitionimg{
  z-index: 3;
  left: -0%;
  width: 300%;
  position: absolute;
}
.footer{
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato';
  color: white;
  background-image: linear-gradient(#2F1728, black);
  bottom: 0;
}
