    .banner{
    background-image: url('../Media/flower-banner1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35rem;
    height: 17rem;

    color: #2F1728;
    font-family: 'Bodoni MT', 'Calisto MT';
    font-size: 500%;
    font-weight: bold;
    margin-top: 0.5em;
    letter-spacing: 0.2em;
}
.wrapper{
    display: flex;
    justify-content: center;
}