.main{
    padding-top: 2em;
    background-color: #E5F4D3;
    height: 1800px;
    width: 100%;
    color: #2F1728;
    /*background-image: linear-gradient(#E5F4D3, #161618);
    */display: flex;
    justify-content: center;
    flex-direction: row;
}
.vineline{
    margin: 0;
    max-width: 100%;
    
}
.flowerimage{
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}
.loadwrapper{
    overflow: hidden;
}
.header{
    padding-top: 2em;
    background-color: #E5F4D3;
    width: 100%;
    font-family: 'Lucida Bright';
    font-size: 400%;
    color: white;
}

.box{
    background-color: #d9e7c8;
    overflow: hidden;
    transition: all .4s ease;
    width: 25%;
    min-width: 200px;
    height: 25%;
    margin: 2vw;
    padding: 2vw;
}

.fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-out;
    will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    visibility: visible;
  }

.first-box{
    transition-delay: 0.3s;
}
.second-box{
    transition-delay: 1.5s;
}
.third-box{
    transition-delay: 2.4s;
}

.about-center{
    position: relative;
    font-size: 110%;
    text-align: end;
    font-family: Lato, sans-serif;
    color: white;
    box-shadow: 0px 15px 15px rgba(0,0,0,.20);
    
}
.about-left{
    position: relative;
    box-shadow: 15px 15px 15px rgba(0,0,0,.20);
}

.about-right{
    position: relative;
    box-shadow: -15px 15px 15px rgba(0,0,0,.20);
}
.flower-bg-left{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Media/flower-banner2.png');
    background-position: 40% 800%;
    background-size: 200%;
}
.flower-bg-mid{
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Media/flower-banner3.png');
    background-size: cover;
    background-position: center;
    transform: scaleY(-1);
}

.flower-bg-right{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Media/rose-bouqet.png');
    background-size: 120%;
    background-position: 230% 260%;
    transform: scaleY(-1);
}

