.credits{
    z-index: 5;
    position: absolute;
    border: 2px solid red;
    background-color: black;
    top: -500%;
    left: 40%;
    right: 40%;
}

.credit-list{
    text-align: left;
}
.credits-hidden{
    visibility: hidden;
}
.credit-closebtn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.credit-bottom-img{
    width: 80%;
    margin: auto;
}