.credits{
    font-size: large;
    font-family: 'Lato', sans-serif;
    width: 30%;
    z-index: 5;
    position: absolute;
    left: 35%;
    top: 20%;
    border: 5px solid #5E422A;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
    background-color: #0d3d21;
}

.credit-list{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
.credits-hidden{
    visibility: hidden;
}
.credit-closebtn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.credit-bottom-img{
    width: 100%;
    margin: -50px -150px -100px;
}
.blur-wrapper{
    position: absolute;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}