.songlist{
    text-align: center;
    color: white;
    backdrop-filter: blur(4px);
    padding-top: 50px;
}
.list-container{
    display: inline-block;
    text-align: left;
    padding-left: 0;
    width: 100%;
}
.songlist-elem{
    font-family: 'Lucida Sans Typewriter';
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
    width: 100%;
    font-size: 2vw;
    list-style-type: none;
}
.play-btn{
    float: right;
    margin-right: 20px;
}